.footer {
  padding-top: 20px;


  &__nav_wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
  }

  &__logo {
    margin-bottom: 20px;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: 740px;
    width: 100%;
    margin: 0;
  }

  &__link {
    font-size: 17px;
    line-height: 32px;
    font-family: 'ProximaNova', sans-serif;
    text-decoration: none;
    color: #3a3a3a;

    &:hover {
      border-bottom: 1px solid #ffe05d;
    }
  }

  &__copyright {
    font-family: 'ProximaNova', sans-serif;
    color: #000;
    font-size: 14px;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
  }

  &__dev {
    font-size: 17px;
    color: #3f3f3f;

    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 15px;
  }

  &__MediaLine {
    font-size: 17px;
    color: #ffe05d;
    font-weight: 300;
    line-height: 31px;
    padding: 0 12px;
    background-color: #1e1e1e;
    text-decoration-skip-ink: none;
    border-radius: 1px;
    display: inline-block;

  }
}
